* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    height: 100vh;
}

i {
    height: 200px;
    background: linear-gradient(transparent, #fff);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    animation: rain 5s infinite;
}

i:nth-child(3n + 1) {
    background: linear-gradient(transparent, #00f);
}

i:nth-child(3n + 2) {
    background: linear-gradient(transparent, #f00);
}

i:nth-child(3n + 3) {
    background: linear-gradient(transparent, #0f0);
}

@keyframes rain {
    0% {
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(calc(100vh + 200px));
    }
}
